:root{
    --color-1:#2F2F2F;
    --color-2:#492D2E;
    --color-3:#692429;
    --color-4:#8E171E;
    --color-5:#b9030f;
    --color-6:#B56B49;
    --color-7:#BBAB85;
    --color-8:#C8CAB8;
    --color-9:#E2E2E2;
}