:root{
    --color-1:#2E1F1C; 
    --color-2:#6A3D2E;
    --color-3:#8C3A37; 
    --color-4:#B7282E; 
    --color-5:#D44E4E; 
    --color-6:#C18E5A; 
    --color-7:#C9B79C; 
    --color-8:#D9D6C3; 
    --color-9:#F2EFEB; 
}