@import url("colors.css");
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=DotGothic16&family=Jersey+10&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{background-color: var(--color-7);}

body::before{
    content: "";
    display: block;
    height: 3.125rem;
}

.viewport-dashboard{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-grid{
    display: grid; 
    width: 70%;
    height: auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: "welcome welcome image" "info orders orders";
}

.welcome-box{
    grid-area: welcome;
    background-color: var(--color-1);
    border: .9375rem solid var(--color-3);
    color: var(--color-7);
    font-family: "Jersey 10", sans-serif;
    font-size: clamp(1vh, 5vh, 3rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 2rem;
}

.info-box{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: clamp(0.5rem, 3vh, 1.5rem);
    grid-area: info;
    background-color: var(--color-1);
    border: .9375rem solid var(--color-3);
    color: var(--color-8);
    font-family: "Jersey 10", sans-serif;
    padding: 2rem;
}

.info-box button{
    height: max(3vh, 4vh);
    width: max(2vw, 8vw);
    align-self: center;
    background-color: var(--color-9);
    border: .1875rem solid var(--color-3);
    color: var(--color-3);
    padding: .1875rem;
    font-size: clamp(.5vw, 1vw, 1.5rem);
    font-family: inherit;
    transition: transform .1s steps(3);
    transition: background-color 0.1s steps(1);
}

.info-box button:hover, .info-box button:focus{
    cursor: pointer;
    transform: scale(1.1);  
    background-color: var(--color-7);
}

.order-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: orders;
    background-color: var(--color-3);
    border: .9375rem solid var(--color-1);
    color: var(--color-8);
    padding: 2rem;
    text-align: center;
}

.order-box h2{
    font-family: "Asimovian", sans-serif;
    color: var(--color-7);
    font-size: clamp(1rem, 4vh, 2.5rem);
}

#orderList{
    list-style: square;
    font-family: "Jersey 10", sans-serif;
    font-size: clamp(0.5rem, 3vh, 1.5rem);
}

.orders-displayed{
    text-align: left;
    background-color: var(--color-7);
    color: var(--color-1);
    padding: 5px;
    border: 5px solid var(--color-1);
}

.image-box{
    grid-area: image;
    background-color: var(--color-1);
    border: .9375rem solid var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


.image-box img{
    width: 100%;
    max-width: 12.5rem;
    height: auto;
    object-fit: contain;
}

.formEdit{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hidden{
    display: none;
}

.form-content{
    background-color: var(--color-1);
    border: 1rem solid var(--color-3);
    padding: 2rem;
    width: clamp(15.625rem, 40vw, 31.25rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-family: "Jersey 10", sans-serif;
    color: var(--color-8);
    text-align: center;
}

.form-content h3{
    font-family: "Asimovian", sans-serif;
    color: var(--color-7);
    font-size: clamp(1.2rem, 2.5vh, 2rem);
    margin-bottom: .5rem;
}


.form-content input{
    padding: .5rem;
    border: .25rem solid var(--color-3);
    background-color: var(--color-7);
    font-family: "Jersey 10", sans-serif;
    font-size: clamp(.7rem, 1.5vw, 2rem);
    color: var(--color-1);
    outline: none;
}

.form-content button, .form-content input[type="submit"]{
    height: max(3vh, 4vh);
    width: max(5vw, 10vw);
    align-self: center;
    background-color: var(--color-9);
    border: .1875rem solid var(--color-3);
    color: var(--color-3);
    padding: .1875rem;
    font-size: clamp(.5vw, 1vw, 1.2rem);
    font-family: "Jersey 10", sans-serif;
    transition: transform .1s steps(3);
    transition: background-color 0.1s steps(1);
}

.form-content input[type="submit"]:hover,
.form-content input[type="submit"]:focus,
.form-content button:hover,
.form-content button:focus{
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--color-7);
}