@import url("colors.css");
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Iceland&family=WDXL+Lubrifont+JP+N&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{background-color: var(--color-7);}

body::before{
    content: "";
    display: block;
    height: 3.125rem;
}

.viewport-dashboard{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-grid{
    display: grid; 
    width: 70%;
    height: auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: "welcome welcome image" "info orders orders";
}

.welcome-box{
    grid-area: welcome;
    background-color: var(--color-1);
    border: .9375rem solid var(--color-3);
    color: var(--color-7);
    font-family: "Asimovian", sans-serif;
    font-size: clamp(1vh, 5vh, 3rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 2rem;
}

.info-box{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: clamp(0.5rem, 3vh, 1.5rem);
    grid-area: info;
    background-color: var(--color-1);
    border: .9375rem solid var(--color-3);
    color: var(--color-8);
    font-family: "iceland", sans-serif;
    padding: 2rem;
}

.info-box button{
    height: max(3vh, 4vh);
    width: max(2vw, 8vw);
    align-self: center;
    background-color: var(--color-9);
    border: 3px solid var(--color-3);
    color: var(--color-3);
    padding: 3px;
    font-size: clamp(.5vw, 1vw, 1.5rem);
    font-family: inherit;
    transition: transform .1s steps(3);
    transition: background-color 0.1s steps(1);
}

.info-box button:hover, .info-box button:focus{
    cursor: pointer;
    transform: scale(1.1);  
    background-color: var(--color-7);
}

.order-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: orders;
    background-color: var(--color-3);
    border: .9375rem solid var(--color-1);
    color: var(--color-8);
    padding: 2rem;
    text-align: center;
}

.order-box h2{
    font-family: "Asimovian", sans-serif;
    color: var(--color-7);
    font-size: clamp(1rem, 4vh, 2.5rem);
}

#order-list {
    list-style: none;
    font-family: "iceland", sans-serif;
    font-size: clamp(0.5rem, 3vh, 1.5rem);
}

.image-box{
    grid-area: image;
    background-color: var(--color-1);
    border: .9375rem solid var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


.image-box img{
    width: 100%;
    max-width: 12.5rem;
    height: auto;
    object-fit: contain;
}