@import url("colors.css");

.error-box{
    display: none;
    background-color: var(--color-9);
    border: 2px solid var(--color-3);
    padding: 10px;
    color: var(--color-3);
}

.success-box{
    display: none;
    background-color: var(--color-9);
    border: 2px solid var(--color-6);
    padding: 10px;
    color: var(--color-6);
}