body {
    background-color: #e1e3db;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

a:link{color: #161917;}
a:visited{color: #e1e3db}

.bar {
    display: flex;
    align-items: center;
    background-color: #70160e;
    width: 100%;
    height: 6rem;
    padding: .625rem; 
}

.bar img{
    margin-left: 1.5625rem;
    width: 6.25rem;
    border: .125rem solid #161917;
    border-radius: .625rem;
    background-color: #e1e3db;
}

.bar #title{
    margin-left: 1.25rem;
    font-size: 3.75rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #161917; 
}

.bar a{text-decoration: none;}

.bar #sections{
    display: flex;
    justify-content: space-evenly;
    width: 46.875rem;
    margin-left: 40.625rem;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    border: .25rem solid #161917;
    border-radius: 1.25rem;
    padding: .9375rem; 
}

.background {
    background-color: #161917;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    align-self: center;
    width: 75%;
    height: 65%;
    border: 5px solid #70160e;
    border-radius: 25px;
    gap: 15px;
}

#contacsTitle{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#e1e3db;
}

.basicInfo{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #b9030f;
}

.background img{
    width: 375px;
    height: 225px;
}


