body {
    background-color: #e1e3db;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

a:link{color: #161917;}
a:visited{color: #e1e3db}

.bar {
    display: flex;
    align-items: center;
    background-color: #70160e;
    width: 100%;
    height: 6rem;
    padding: .625rem; 
}

.bar img{
    margin-left: 1.5625rem;
    width: 6.25rem;
    border: .125rem solid #161917;
    border-radius: .625rem;
    background-color: #e1e3db;
}

.bar #title{
    margin-left: 1.25rem;
    font-size: 3.75rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #161917; 
}

.bar a{text-decoration: none;}

.bar #sections{
    display: flex;
    justify-content: space-evenly;
    width: 46.875rem;
    margin-left: 40.625rem;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    border: .25rem solid #161917;
    border-radius: 1.25rem;
    padding: .9375rem; 
}

.background {
    width: 100%;
    height: calc(100vh - 8rem); 
    display: flex;  
}

.background img{
    margin-left: 100px; 
    width: 25rem;
    padding: 4.6875rem;
}

#divCost{
    color: #b9030f; 
    background-color: #161917;
    padding: 1.5625rem; 
    margin-top: 1.5625rem;
    margin-left: 14.0625rem;
    border: .3125rem solid #70160e;
    border-radius: 1.5625rem;  
    width: 15.625rem;
    text-align: center;
    font-size: 1.25rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.columns2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161917;
    width: 31.25rem; 
    height: 75%;
    margin-top: 5%;
    margin-left: 20%;
    border: .625rem solid #70160e;
    color:#b9030f;
}

#liTitle{
    font-size: 4.6875em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e1e3db;
}

li{
    font-size: 1.5625em;
    font-family: 'Times New Roman', Times, serif;
}
